@import "partials/root";
@import "partials/utils";

#WatchVideoSection {
    height: auto;
    width: 85vw;
    padding: 4vw;

    video {
        width: 370px;
        height: 80px;
    }

    img {
        width: 100%;
    }
}

#AboutUsSection {
    width: 100vw;
    img {
        width: 100%;
        height: auto;
    }
}

#AboutSection {
    width: 90vw;
    padding: 3vw;

    h3 ~ p {
        margin-bottom: 2vw;
    }

    p {
        font-size: dynamic-size(26px);
        // font-size: max(10px, nvw(23px));
    }

    strong {
        font-size: dynamic-size(36px);
    }
}



