@import 'partials/root';
@import 'partials/utils';

#HeroSection {
	// height: fit-content(nvw(900px));
	background-color: none;
	background-image: url('../public/assets/media/hero-bg.png');
	height: nvw(900px);
	width: 100%;
	display: flex;
	// background: url('../public/assets/media/hero-bg.png') center cover;

	h1 {
		width: fit-content;
		margin: auto;
		align-self: center;
		text-transform: uppercase;
		font-size: dynamic-size(111px, 66%);
		text-align: center;
		align-items: center;
	}

	img {
		position: absolute;
		width: 100%;
		height: inherit;
		z-index: -2;
	}
}

h3 {
	font-family: 'Corinthia';
	font-size: dynamic-size(100px, 33%) !important;
	width: fit-content;
	margin: auto;
	margin-bottom: 3vw;
}

#CelebratingLife {
	width: 80vw;
	padding: 5vw;
	p {
		font-size: dynamic-size(23px);
		text-align: justify;
	}
}

#AboutSectionHome {
	width: 100vw;
	img {
		width: 100%;
		height: auto;
	}
}

#PhotoGallerySection {
    width: 100%;
    overflow-x: hidden;
    .new-photo-gallery-container {
        width: 100%;
        display: grid;
        grid-template-columns: 12.5% 25% 25% 25% 12.5%;
        /* gap: 1rem; */

        div {
            padding: 0.5vw;
			aspect-ratio: 1 / 0.71;
            width: 100%;
            height: 17vw;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                /* object-fit: cover; */
            }
        }
    }
}

#BookNowSection {
    width: 100%;
    margin-top: 2rem;
    padding-block: max(5rem, 5vw);
    background-color: rgba($tertiary-color, 1);
	> * {
		width: fit-content;
		margin: auto;
	}

	h4 {
		font-size: dynamic-size(28px, 40%);
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 1rem !important;
	}

    h3 {
        font-size: dynamic-size(66px, 33%) !important;
        font-family: 'Noto-Serif';
        font-style: italic;
        font-weight: 600;
        text-align: center;
        color: $secondary-color;
        margin-bottom: 2rem !important;
        line-height: .95;
    }

	button {
		width: dynamic-size(320px, 25%);
		height: dynamic-size(80px, 25%);
		display: block;
		border: max(1px, nvw(3px)) solid #dd9726;
		font-size: dynamic-size(28px, 25%);
		color: white;
		background-color: $secondary-color;
		cursor: pointer;
	}
}

@import 'responsive/home-phone';
