@import "partials/root";
@import "partials/utils";

#HeroSection {
    // height: fit-content(nvw(900px));
    background-color: none;
    background-image: url('../public/assets/media/hero-bg.png');
    height: nvw(900px);
    width: 100%;
    display: flex;
    // background: url('../public/assets/media/hero-bg.png') center cover;

    h1 {
        width: fit-content;
        margin: auto;
        align-self: center;
        text-transform: uppercase;
        font-size: dynamic-size(111px, 66%);
        text-align: center;
        align-items: center;
    }

    img {
        position: absolute;
        width: 100%;
        height: inherit;
        z-index: -2;
    }


}

h3 {
    font-family: 'Corinthia';
    font-size: dynamic-size(100px, 33%) !important;
    width: fit-content;
    margin: auto;
    margin-bottom: 3vw;
}

#CelebratingLife {
    width: 80vw;
    padding: 5vw;    
    p {
        font-size: dynamic-size(23px);
    }
}

#AboutSectionHome {
    width: 100vw;
    img {
        width: 100%;
        height: auto;
    }
}

#PhotoGallerySection {
    // width: 100%;
    .photo-gallery-container {
        margin-block: 5vw;
        display: grid;
        // grid-template-columns: repeat(5, minmax(330px, 660px));
        grid-template-columns: repeat(5, minmax(0.073vw*330, 0.073vw*660));
        gap: 1rem;
        // overflow-x: scroll;
        transform: translateX(-1 * nvw(18px));
        div {
            aspect-ratio: 1 / 0.71;
        }
        img {
            height: 100%;
        }
    }

    .photo-gallery-container > :nth-child(1) > img,
    .photo-gallery-container > :nth-child(6) > img {
        float: right;
    }

    
}

@import "responsive/home-phone"
