@import "partials/utils";
@import "partials/root";

#PhotoGalleryMainSection {
    width: 80%;

    h3 {
        font-family: 'Corinthia';
        font-size: dynamic-size(100px, 33%)
    }

    h4 {
        position: relative;
        font-size: dynamic-size(42px);
        font-weight: 500;
        margin-block: 3rem;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 50%;
            display: inline-block;
            width: 25%;
            height: 5px;
            background-color: #DD9726;
            margin-right: 10px;
        }
    }

    .photo-gallery-main-container {
        display: grid;
        grid-template-columns: repeat(3, nvw(464px));
        justify-content: center;
        gap: 1vw;

        img {
            width: 100%;
            aspect-ratio: 16 / 11;
            object-fit: cover;
        }
    }

}

.event-heading {
    font-family: 'Noto Serif', serif !important;
    font-size: dynamic-size(77px, 33%) !important;
}

.new-event-container > img{
    object-fit: cover;
}

@import "responsive/photogallery-phone"