<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
    <footer>
        <div class="end-logo">
            <img src="../../public/assets/media/logo.svg" alt="">
            <p>Rash Noor events is a group of designers and artists located in the United Arab Emirates ready to plan your wedding or celebration and take it to a whole new level.</p>
        </div>
        <div class="quick-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/weddings">Weddings</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </div>
        <div class="office">
            <h4>Abu Dhabi Office</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        </div>
    </footer>
</body>
</html>