<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/header.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <header>
        <img id="header-logo" src="../../public/assets/media/logo.svg" alt="">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weddings">Weddings</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
        <box-icon name='menu-alt-right' size="lg" color="white"></box-icon>
    </header>
</body>
</html>

<script src="../../public/js/header.js"></script>
