<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../public/css/events.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header') %>
    
    <section id="EventsSection">
        <h3>Events</h3>
        <div class="events-gallery-container">
            <div>
                <img src="../public/assets/media/events-imgs/1.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/2.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/3.png" alt="">
                <h5>Desi Gala</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/4.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/5.png" alt="">
                <h5>Henna Nights</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/6.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/7.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/events-imgs/8.png" alt="">
                <h5>Rotana Saadiyat- Abu Dhabi</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
        </div>
        <button class="view-more-btn">View More</button>
    </section>

    <%- include('partials/footer') %>

</body>
</html>

<!-- <script src="../public/js/refLine.js"></script> -->
