<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rash Noor Events Planner</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="../public/css/home.css" />
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.7.1.js"
			integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			crossorigin="anonymous"></script>
	</head>
	<body>
		<%- include('partials/header') %>

		<section id="HeroSection">
			<h1>We Turn Your Ideas<br />Into Memories</h1>
			<img src="../public/assets/media/hero-bg.png" alt="" />
		</section>

		<section id="CelebratingLife">
			<h3>Celebrating Life</h3>
			<p>
				Our mission is simple: to redefine event planning. We don’t settle for the ordinary. Instead, we constantly innovate, explore fresh
				concepts, and adapt to what’s new and exciting—while letting go of what no longer works. It’s this forward-thinking mindset that sets
				us apart from traditional event planners. We’re proud to have a loyal base of returning clients who know they’ll never get the same
				theme or ideas twice. Each event is a new opportunity to surprise, delight, and exceed expectations. Your vision is our blueprint—and
				we build on it with creativity, style, and originality.
			</p>
		</section>

		<section id="AboutSectionHome">
			<img src="../public/assets/media/about-us-home-frame.png" alt="" />
		</section>

		<section id="PhotoGallerySection">
			<h3>Photo Gallery</h3>
			<div class="photo-gallery-container">
				<div data-aos="fade-right"><img src="../public/assets/media/photo-gallery/1.png" alt="" /></div>
				<div data-aos="flip-left"><img src="../public/assets/media/photo-gallery/2.png" alt="" /></div>
				<div data-aos="fade-down"><img src="../public/assets/media/photo-gallery/3.png" alt="" /></div>
				<div data-aos="flip-right"><img src="../public/assets/media/photo-gallery/4.png" alt="" /></div>
				<div data-aos="fade-left"><img src="../public/assets/media/photo-gallery/5.png" alt="" /></div>
				<div data-aos="fade-right"><img src="../public/assets/media/photo-gallery/6.png" alt="" /></div>
				<div data-aos="flip-left"><img src="../public/assets/media/photo-gallery/7.png" alt="" /></div>
				<div data-aos="fade-up"><img src="../public/assets/media/photo-gallery/8.png" alt="" /></div>
				<div data-aos="flip-right"><img src="../public/assets/media/photo-gallery/9.png" alt="" /></div>
				<div data-aos="fade-left"><img src="../public/assets/media/photo-gallery/10.png" alt="" /></div>
			</div>
			<button class="view-more-btn">View More</button>
		</section>

		<section id="NewPhotoGallerySection">
			<h3>Photo Gallery</h3>
			<div class="new-photo-gallery-container">
				<div data-aos="fade-right"><img src="../public/assets/media/photo-gallery/1.png" alt="" /></div>
				<div data-aos="flip-left"><img src="../public/assets/media/photo-gallery/2.png" alt="" /></div>
				<div data-aos="fade-down"><img src="../public/assets/media/photo-gallery/3.png" alt="" /></div>
				<div data-aos="flip-right"><img src="../public/assets/media/photo-gallery/4.png" alt="" /></div>
				<div data-aos="fade-left"><img src="../public/assets/media/photo-gallery/5.png" alt="" /></div>
				<div data-aos="fade-right"><img src="../public/assets/media/photo-gallery/6.png" alt="" /></div>
				<div data-aos="flip-left"><img src="../public/assets/media/photo-gallery/7.png" alt="" /></div>
				<div data-aos="fade-up"><img src="../public/assets/media/photo-gallery/8.png" alt="" /></div>
				<div data-aos="flip-right"><img src="../public/assets/media/photo-gallery/9.png" alt="" /></div>
				<div data-aos="fade-left"><img src="../public/assets/media/photo-gallery/10.png" alt="" /></div>
			</div>
			<button class="view-more-btn">View More</button>
		</section>

		<section id="BookNowSection">
			<h4>Upcoming Events? Book Now</h4>
			<h3>Let Us Make Your<br>Events Flawless</h3>
			<button id="book-now-btn">Book Now</button>
		</section>

		<%- include('partials/footer') %>
	</body>
	<script>
		AOS.init();
		document.getElementById('book-now-btn').addEventListener('click', () => {
            window.location.href = 'https://wa.me/+971503336732'
		})
	</script>
</html>

<script src="../public/js/refLine.js"></script>
<script src="../public/js/home.js"></script>
