<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Photo Gallery</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="../public/css/photogallery.css" />
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	</head>
	<body>
		<%- include('partials/header') %>

		<section id="PhotoGalleryMainSection">
			<h3>Photo Gallery</h3>
			<!-- Categories -->
			<h4>Weddings</h4>
			<div class="photo-gallery-main-container" data-aos="zoom-in">
				<img src="../public/assets/media/photo-gallery-main/2.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/1.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/8.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/12.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/10.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/11.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/7.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/5.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/9.png" alt="" />
			</div>
			
			<h4>Events</h4>
			<div class="photo-gallery-main-container" data-aos="zoom-in">
				<img src="../public/assets/media/photo-gallery-main/13.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/14.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/15.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/3.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/24.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/23.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/22.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/20.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/18.png" alt="" />
			</div>

			<h4>Baby Showers</h4>
			<div class="photo-gallery-main-container last-gallery-div" data-aos="zoom-in">
				<img src="../public/assets/media/photo-gallery-main/16.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/25.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/17.png" alt="" />
				<img src="../public/assets/media/photo-gallery-main/27.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/28.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/29.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/30.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/31.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/32.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/33.jpg" alt="" />
				<img src="../public/assets/media/photo-gallery-main/34.jpg" alt="" />
			</div>
			<!-- <button class="view-more-btn">View More</button> -->
		</section>

		<%- include('partials/footer') %>
	</body>

	<script>AOS.init();</script>
</html>

<script src="../public/js/refLine.js"></script>

