<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/services.css">
    <title>Services</title>
</head>
<body>
    <%- include('partials/header') %>
    
    <section id="ServicesSection">
        <h3>Services</h3>
        <div class="services-container">
            <div>
                <img src="../public/assets/media/services-imgs/1.png" alt="">
                <h5>Event & Wedding Consultation</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/2.png" alt="">
                <h5>Venue Selection</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/3.png" alt="">
                <h5>Coordination Services</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/4.png" alt="">
                <h5>Design & Concept Creation</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/5.png" alt="">
                <h5>Music & Entertainment</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/6.png" alt="">
                <h5>Lighting & Sound Production</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/7.png" alt="">
                <h5>Guest Accomodation</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/8.png" alt="">
                <h5>Photography & Videography</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/9.png" alt="">
                <h5>Ambient Lighting</h5>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

</body>
</html>