<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title> 
    <link rel="stylesheet" href="../public/css/services.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header') %>
    
    <section id="ServicesSection">
        <h3>Services</h3>
        <div class="services-container">
            <div>
                <img src="../public/assets/media/services-imgs/1.png" alt="">
                <h5>Events & Activations</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/2.png" alt="">
                <h5>Weddings</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/3.png" alt="">
                <h5>Corporate Events</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/4.png" alt="">
                <h5>Theme Birthdays</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/5.png" alt="">
                <h5>Baby Showers</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/6.png" alt="">
                <h5>Photography & Videography</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/7.png" alt="">
                <h5>School/University Graduation Events</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/8.png" alt="">
                <h5>Beach Setups</h5>
            </div>
            <div>
                <img src="../public/assets/media/services-imgs/9.png" alt="">
                <h5>Gender Reveal</h5>
            </div>
        </div>
        <button>Book Now</button>
    </section>

    <%- include('partials/footer') %>

    <script>
        document.getElementsByTagName('button')[0].addEventListener('click', () => {
            window.location.href = 'https://wa.me/+971503336732'
        })
    </script>
</body>
</html>

