<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weddings</title>
    <link rel="stylesheet" href="../public/css/weddings.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header') %>
    
    <section id="WeddingsSection">
        <h3>Weddings</h3>
        <div class="weddings-gallery-container">
            <div>
                <img src="../public/assets/media/weddings-imgs/1.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/2.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/3.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/4.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/5.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/6.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/7.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
            <div>
                <img src="../public/assets/media/weddings-imgs/8.png" alt="">
                <h5>Grand Ballroom Wedding</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div>
                    <p>12 Photos</p>
                    <button>View More</button>
                </div>
            </div>
        </div>
        <button class="view-more-btn">View More</button>
    </section>

    <%- include('partials/footer') %>

</body>
</html>

<!-- <script src="../public/js/refLine.js"></script> -->
