/*
Figma Design Reference made on 1920px width,
According to my screen width of 1366px
1px = 1366/1920 = 0.71
also, my screen 1px = 100vw/1366 = 0.073vw
Calculation of vw value according to n number of pixels
so, n-vw = 100vw/1920 * N
where n is num. pixels of 1920 layout 


/* 1. Variables */
/* 2. Functions */
/* 3. Mixins */
/* 4. Pseudo-Classes */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.ref-line {
  border: 3px gray dashed;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif";
  font-weight: 300;
}

body {
  width: 100vw;
  color: white;
  background-image: url("../../public/assets/media/backdrop.png");
  background-size: 50%;
  background-blend-mode: normal;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h3 {
  font-size: clamp(36.6289px, 3.927vw, 72.7111px);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: max(20px, 1.5vw);
  margin-bottom: max(40px, 3vw);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

button.view-more-btn {
  width: clamp(170.4px, 16.32vw, 284px);
  height: clamp(42.6px, 4.08vw, 71px);
  display: block;
  margin: auto;
  margin-block: 6vw;
  border: max(1px, 0.153vw) solid #DD9726;
  font-size: clamp(14.91px, 1.428vw, 24.85px);
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/*
Figma Design Reference made on 1920px width,
According to my screen width of 1366px
1px = 1366/1920 = 0.71
also, my screen 1px = 100vw/1366 = 0.073vw
Calculation of vw value according to n number of pixels
so, n-vw = 100vw/1920 * N
where n is num. pixels of 1920 layout 


/* 1. Variables */
/* 2. Functions */
/* 3. Mixins */
/* 4. Pseudo-Classes */
header {
  width: 80vw;
  margin-inline: auto;
  height: clamp(85.2px, 7.65vw, 127.8px);
  /* overflow-x: hidden; */
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 90%;
  width: auto;
}

header nav {
  width: 75%;
  min-width: 60%;
  flex-shrink: 1;
  position: relative;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(11.928px, 1.428vw, 27.832px);
}

header li {
  transition: scale 0.5s ease;
}

header li:hover {
  scale: 1.25;
}

@media (min-width: 320px) and (max-width: 620px) {
  header {
    width: 90vw;
  }
  nav ul {
    z-index: 3;
    height: 100dvh;
    position: absolute;
    top: -4.9rem;
    right: -10rem;
    background-color: black;
    padding: 2rem;
    padding-top: 4rem;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
  }
  .hide-mobile-nav {
    display: none;
  }
}