/*
Figma Design Reference made on 1920px width,
According to my screen width of 1366px
1px = 1366/1920 = 0.71
also, my screen 1px = 100vw/1366 = 0.073vw
Calculation of vw value according to n number of pixels
so, n-vw = 100vw/1920 * N
where n is num. pixels of 1920 layout 


/* 1. Variables */
/* 2. Functions */
/* 3. Mixins */
/* 4. Pseudo-Classes */
/*
Figma Design Reference made on 1920px width,
According to my screen width of 1366px
1px = 1366/1920 = 0.71
also, my screen 1px = 100vw/1366 = 0.073vw
Calculation of vw value according to n number of pixels
so, n-vw = 100vw/1920 * N
where n is num. pixels of 1920 layout 


/* 1. Variables */
/* 2. Functions */
/* 3. Mixins */
/* 4. Pseudo-Classes */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.ref-line {
  border: 3px gray dashed;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif";
  font-weight: 300;
}

body {
  width: 100vw;
  color: white;
  background-image: url("../../public/assets/media/backdrop.png");
  background-size: 20%;
  background-blend-mode: normal;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h3 {
  font-size: clamp(36.6289px, 3.927vw, 72.7111px);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: max(20px, 1.5vw);
  margin-bottom: max(40px, 3vw);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

button.view-more-btn {
  width: clamp(170.4px, 16.32vw, 284px);
  height: clamp(42.6px, 4.08vw, 71px);
  display: block;
  margin: auto;
  margin-block: 6vw;
  border: max(1px, 0.153vw) solid #DD9726;
  font-size: clamp(14.91px, 1.428vw, 24.85px);
  color: white;
  background-color: transparent;
  cursor: pointer;
}

#ServicesSection {
  width: 75vw;
  margin-block-end: max(2.5rem, 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ServicesSection .services-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-content: center;
  gap: 2vw;
}
#ServicesSection .services-container > :nth-child(odd) {
  background-color: #2b2a11;
}
#ServicesSection .services-container > :nth-child(even) {
  background-color: #2b1111;
}
#ServicesSection .services-container div {
  padding: 30px;
  aspect-ratio: 1/1;
}
#ServicesSection .services-container div img {
  width: 100%;
  height: auto;
  margin-bottom: 3vw;
  transition: scale 0.5s ease-out;
}
#ServicesSection .services-container div img:hover {
  scale: 1.2;
}
#ServicesSection .services-container div h5 {
  font-size: clamp(15.904px, 1.428vw, 23.856px);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  height: 30px;
}
#ServicesSection button {
  width: clamp(170.4px, 16.32vw, 284px);
  height: clamp(42.6px, 4.08vw, 71px);
  display: block;
  margin: auto;
  margin-block: max(3rem, 4vw);
  font-size: clamp(14.91px, 1.428vw, 24.85px);
  font-weight: 400;
  color: white;
  background-color: #dd9726;
  cursor: pointer;
  border: none;
}

@media (min-width: 320px) and (max-width: 620px) {
  #ServicesSection .services-container {
    grid-template-columns: repeat(1, minmax(250px, 300px));
    row-gap: 8vw;
  }
}