// @layer reset, base, theme, layout, components, utilities, overrides;
@import "utils";


.ref-line {
    border: 3px gray dashed;
}

@font-face {
    font-family: 'Bodini';
    src: url('../assets/fonts/Bodoni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bodini';
}

body {
    // margin-inline: 2rem;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // row-gap: 1rem
    overflow-x: hidden;
}

h3 {
    // font-size: dynamic-size(nvw(77px), 25%);
    // font-size: calc-font(77px, 10px);
    font-size: dynamic-size(77px, 33%);
    width: fit-content;
    margin: auto;
    margin-top: max(20px, 1.5vw);
    margin-bottom: max(40px, 3vw);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

button.view-more-btn {
    width: dynamic-size(320px, 25%);
    height: dynamic-size(80px, 25%);
    display: block;
    margin: auto;
    margin-block: 6vw;
    border: max(1px, nvw(3px)) solid #DD9726;
    font-size: dynamic-size(28px, 25%);
    color: white;
    background-color: transparent;
    cursor: pointer;
}