@import "root";
@import "utils";

header {
    width: 80vw;
    margin-inline: auto;
    height: dynamic-size(150px);
    // padding: 1rem;
    @include flex-behaviour($justify: space-between)
}

header > img {
    height: 90%;
    width: auto;
}

header nav {
    width: 75%;
    min-width: 60%;
    flex-shrink: 1;
    position: relative;
}

header ul {
    @include flex-behaviour($justify: space-between);
    font-size: dynamic-size(28px, 40%);
}

header li {
    transition: scale 0.5s ease;
}

header li:hover {
    scale: 1.25;
}

@media (min-width: 320px) and (max-width: 620px) {
    header {
        width: 95vw;
    }
}